<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Register</title>
</head>
<body>
  <%- include('partials/_header') %>
  

 
  <main style="margin: 1em;">
    <h2> Create an account:</h2>
    <div class="pull-center">
      <form class = form method="POST" action="/register">
        <label for="email"> <b>Enter you email </b></label>
        <br>
        <input type="email" name="email">
        <br>
        <label for="password"> <b>Set your password </b></label>
        <br>
        <input type="password" name="password" >
        <br>
        <br>
        <button type="submit" class="btn btn-primary" >Register</button>
      </form> 
    </main>
      </div>
  </body>
  </html>